@import "./common/variable.scss";

.do-button {
  color: $__color-text-primary;
  font-size: $__font-size;
  border: 1px solid $__border-color;
  border-radius: $__border-radius;
  padding: 9px 16px;
  background-color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  [class*=do-icon]+span {
    margin-left: 5px;
  }
  &:focus {
    outline: none;
  }
  &:focus{
    color: $__color-primary-dark;
    border-color: $__color-primary-dark;
  }
  &:hover {
    color: $__color-primary;
    border-color: $__color-primary;
  }
  &:active {
    color: $__color-primary-dark;
    border-color: $__color-primary-dark;
  }
}
