@import "./common/variable.scss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.do-loading {
  // color: $__color-text-looming;
  animation: spinner 1s cubic-bezier(.6, 0, .4, 1) infinite;
  // animation:spinneralt 1s cubic-bezier(.6,0,.4,1) infinite;
}

@keyframes spinner{
  0% {
    transform:rotate(0deg)
  } to {
    transform:rotate(359deg)
  }
}